.statistics-container {
  align-items: center;
  padding: 50px 0px;
}
.stats-row {
  justify-content: space-between;
  width: 600px;
  padding: 30px 5px;
}
.stat-item {
}
.stat-figure {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 49px;
  letter-spacing: -0.5px;
  color: #1a4dcf;
}
.stat-name {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #000000;
}
.statistics-select {
  width: 600px;
  justify-content: space-between;
}
.country-select-image {
  height: 22px;
  margin-right: 4px;
}
.chart-tip {
  font-size: 12px;
  font-weight: 500;
  margin-top: -400px !important;
}
